@use './styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: $secondary-color;
  color: $text-color;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
